*{
    margin: 0px;
    padding: 0px;
}


.list-group-item:hover{
background-color: rgb(252, 63, 56);
color: white;

}

.formu_1{
    
height: 500px;
}
.formu_2{
    
    height: 500px;
    }
    .formu_3{
        
        height: 500px;
        }
        .formu_4{
            
            height: 500px;
            }
            .formu_5{
                height: 500px;
            }
.img_button{
    height: 30px;
    width: 30px;
}
.boton_cate{
    height:30px;
    width: 60px;
}